<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
</head>
<body>
<form th:method="POST" th:action="@{/books}" th:object="${books}">

    <label for="title">Enter title</label>
    <input type="text" th:field="*{book_title}" id="title">
<!--    <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{book_title}">book_titlName error</div>-->
    <br>
    <label for="author">Enter author</label>
    <input type="text" th:field="*{book_author}" id="author">
<!--    <div style="color: red"  th:if="${#fields.hasErrors('author')}" th:errors="*{book_author}">Birthday error</div>-->
    <br>
    <label for="year">Enter year</label>
    <input type="text" th:field="*{book_year}" id="year">
<!--    <div style="color: red"  th:if="${#fields.hasErrors('book_year')}" th:errors="*{book_year}">year year</div>-->
    <br>
    <input type="submit" value="Create">
</form>
</body>
</html>